# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# C extensions
*.c
*.cpp
*.h

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.eggs/
*.whl
*.manifest
*.spec
*.pkg
*.toc
*.zip
*.tar.gz
*.pyz
*.exe
*.dll
*.msi
*.bat

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# VS Code
.vscode/

# Environments
.env
.venv/
ENV/
venv/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Logs
*.log

# Local files
learn-assist-plugin.pkg
*.toc
*.pyz
*.exe
*.zip
*.html
localpycs/
